* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75vw;
}



main {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.bungkus img {
    width: 13rem;
    height: 13rem;
    border-radius: 10px;
    object-fit: cover;
}

.penjelas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.penjelas h2 {
    font-size: 1.5rem;
    color: #333;
}

.penjelas p {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
    font-size: 1rem;
    color: #555;
    border: 1px solid #ddd;
}

.penjelas h4 {
    font-size: 1.2rem;
    color: #333;
}

.penjelas input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.buttons .buy {
    background-color: white;
    color: black;
    border: 1px solid;
}

.buttons .buy:hover {
    background-color: black;
    color: white;
}

.buttons .delete {
    background-color: #dc3545;
    color: #fff;
}

.buttons .delete:hover {
    background-color: white;
    color: #dc3545;
    border: 1px solid #dc3545;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: flex-start;
    }

    .bungkus img {
        width: 100%;
        height: auto;
    }
}